
A scalar is a single number. It has magnitude only and no direction.

Example	Role of the scalar
Learning rate (η) in gradient descent	Controls step‑size when updating model weights.
Regularisation strength (λ)	Tells the algorithm how much to penalise large weights.
Temperature/price/age in a feature set	Each value by itself is a scalar feature.

In [4]:
# learning‑rate scalar
eta = 0.03       

# regularisation weight
lmbd = 0.001     

# stand‑alone feature value
age_years = 29

A vector is an ordered list of scalars that, taken together, carries both magnitude (length) and direction.


Task | Vector meaning
Row in a cleaned DataFrame | Feature vector fed to a model.
Word embedding | 768‑float BERT vector—semantics in space.
Gradient of loss | Arrow pointing toward lower error.
User/item factors | Dot of two vectors predicts rating.

In [13]:
import numpy as np

vector = np.array([3,4])
magnitude_of_vector = np.linalg.norm(vector)

unit_vector = vector/np.linalg.norm(vector) # only direction

unit_vector

array([0.6, 0.8])

In [ ]:
# unit vector (mini - exercise)

Pick a new vector, e.g. [2,−1,2].
Compute its magnitude and unit vector, then print both.
Add a Pandas example: normalise every row of this small DataFrame to unit length:

In [16]:
import numpy as np

vector = np.array([2,-1,2])
magnitude_of_vector = np.linalg.norm(vector)

print("||v||",magnitude_of_vector)

unit_vector = vector/np.linalg.norm(vector) # only direction

print("||v_hat||",unit_vector)

||v|| 3.0
||v_hat|| [ 0.66666667 -0.33333333  0.66666667]

In [22]:
import pandas as pd
df = pd.DataFrame({
    "a": [2, 3],
    "b": [-1, 4],
    "c": [2, 0]
})

In [23]:
df

   a  b  c
0  2 -1  2
1  3  4  0

In [24]:
df.shape

(2, 3)

In [27]:
df = df.apply(lambda row: row/np.linalg.norm(row),axis=1)
df

          a         b         c
0  0.666667 -0.333333  0.666667
1  0.600000  0.800000  0.000000